:root {
    --primary-color: #533016;
    --secondary-color: #B8936A;
    --accent-1: #9FBACE;
    --accent-2: #C6D0D5;
    --heading-font: "Ancizar Sans", sans-serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

header {
    display: grid;
    color: var(--primary-color);
    grid-template-columns: 250px 1fr;
    align-items: center;
    max-width: 100%;
}

header img {
    display: inline;
    width: 150px;
    height: 100%;
    border-bottom: 1px solid #ccc;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav a {
    display: block;
    color: navy;
    flex: 1 1 auto;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
    font-weight: 400;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-weight: 400;
}

nav,
p,
section,
article {
    margin: 20px 10px 0 0;
    padding: 0px;

}

footer {
    display: grid;
    grid-template-columns: 60% 20% 20%;
}

footer p {
    text-align: center;
}

a {
    text-decoration: none;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    float: right;
    display: inline;
    width: 20px;
    height: 10px;
    margin-left: 15px;
    margin-right: 10px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

#about {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent-2);
    color: var(--primary-color);
}

#contact {
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent-2);
    color: var(--primary-color);
}

.hero article {
    position: absolute;
    top: 100px;
    width: 95%;
    margin-left: 20px;
    padding: 0;
    opacity: 0.8;
    background-color: var(--accent-1);
    color: var(--primary-color);
}

.hero article img {
    float: right;
    width: 125px;
    margin: 10px 10px;
}

.hero article p {
    margin: 10px;
}

section img {
    margin-top: 10px;
}

section h2 {
    display: block;
    text-align: center;
}

.history {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    align-content: space-between;
}

.history img {
    display: flex;
    justify-content: center;
}

.adventure {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    justify-content: space-between;
}

.adventure img {
    align-content: space-between;
    justify-content: space-around;
    width: 150px;
    height: 100px;
}

.happy {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}

.happy img {
    width: 250px;
    height: 200px;
}



figure {
    display: flex;
}

figcaption {
    text-align: center;
}

.contact_info {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-between;
    margin: 20px 0 20px 0;

}

fieldset {
    padding-left: 10px;
    padding-bottom: 10px;
}